<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prototype GUI Ferienhausvermietung 2020</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<nav th:replace="navbar :: navbar" style="width: 100%"></nav>

<div class="py-5"
     style="background-image: url('/resources/img/landingpage_bg.png'); background-position:left center; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="p-5 col-lg-6"
                 style="	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));	background-position: top left;	background-size: 100%;	background-repeat: repeat;	box-shadow: 5px 5px 5px  rgba(0,0,0,0.2);">
                <h1>Sie möchten Ihre Daten ändern?</h1>
                <p class="mb-3">Das können Sie hier ganz einfach machen.</p>
                <form role="form" id="tenantManageAccountForm" th:action="@{/manageaccount}" method="post">
                    <div class="form-group">
                        <div class="form-inline">
                            <input type="text" id="firstname" name="firstname" th:placeholder="${firstname}" class="form-control"
                                   style="width: 33%;" aria-label="Vorname">
                            <input type="text" id="lastname" name="lastname" th:placeholder="${lastname}" class="form-control mr-0 ml-auto"
                                   th:if(this.
                                   style="width: 65%;" aria-label="Nachname">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" id="email" name="email"  class="form-control"
                               placeholder="Leider kannst du die E-Mail nicht ändern." aria-label="E-Mail Adresse" disabled>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" class="form-control"
                               placeholder="Passwort eingeben" aria-label="Passwort">
                    </div>
                    <div class="form-group">
                        <input type="password" id="password-confirm" name="password-confirm"
                               class="form-control" placeholder="Passwort wiederholen" aria-label="Passwort wiederholen"
                               oninput="checkpasswords(this)">
                    </div>
                    <script type='text/javascript'>
                        function checkpasswords(input) {
                            if (document.getElementById('password-confirm').value !== document.getElementById('password').value) {
                                input.setCustomValidity('Die Passwörter stimmen nicht überein');
                            } else {
                                input.setCustomValidity('');
                            }
                        }
                    </script>
                    <div th:if="${#strings.equals(role, 'HOST') or #authorization.expression('hasRole(''HOST'')') or
                     #strings.equals(role, 'TENANT') or #authorization.expression('hasRole(''TENANT'')') }" >
                    <div class="form-group">
                        <input id="birthdate" name="birthdate" th:placeholder="${birthdate}" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" />
                    </div>
                    <div class="form-group">
                        <div class="form-inline">
                            <input type="text" id="street" name="street" class="form-control"
                                   th:placeholder="${street}" style="width: 83%" aria-label="Straße">
                            <input type="text" id="housenumber" name="housenumber" class="form-control mr-0 ml-auto"
                                   th:placeholder="${housenumber}" style="width: 15%;" aria-label="Hausnummer">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-inline">
                            <input type="text" id="postcode" name="postcode" class="form-control"
                                   th:placeholder="${postcode}" style="width: 23%" aria-label="Postleitzahl">
                            <input type="text" id="city" name="city"
                                   class="form-control mr-0 ml-auto"
                                   th:placeholder="${city}" style="width: 75%;" aria-label="Ortschaft">
                        </div>
                    </div>
                </div>
                    <div class="form-group" th:if="${#strings.equals(role, 'HOST') or #authorization.expression('hasRole(''HOST'')') }" >
                        <div class="form-inline">
                            <input type="text" id="iban" name="iban" pattern="^DE\d{2}[ ]\d{4}[ ]\d{4}[ ]\d{4}[ ]\d{4}[ ]\d{2}|DE\d{20}$"
                                   class="form-control" th:placeholder="${iban}" style="width: 50%" aria-label="IBAN">
                            <input type="text" id="bic" name="bic" pattern="^([a-zA-Z]){6}([0-9a-zA-Z]){2}([0-9a-zA-Z]{3})?$"
                                   class="form-control mr-0 ml-auto" th:placeholder="${bic}" style="width: 50%;" aria-label="BIC">
                        </div>
                    </div>
                    <div class="form-group" th:if="${#strings.equals(role, 'EVENT_EMPLOYEE') or #authorization.expression('hasRole(''EVENT_EMPLOYEE'')') }">
                        <input type="text" id="eventcompany" name="eventcompany" class="form-control"
                               th:placeholder="${eventcompany}" aria-label="Arbeitgeber">
                    </div>
                    <button type="submit" th:value="${email}" name="tenant_username" class="btn btn-primary mt-2" oninput="checkpasswords(this)">Änderungen abschicken<br></button>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>