<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>FeWoDre - Accountverwaltung</title>
</head>

<body>

<nav th:replace="navbar :: navbar" style="width: 100%"></nav>

<div style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.2));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
    <div class="container">
        <div class="row"
             style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.03));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
            <div class="p-lg-2 w-100">
                <h1 class="text-center" style="	text-shadow: 2px 2px 4px rgba(0,0,0,0.1);">
                    Nutzeraccountverwaltung</h1>
            </div>
        </div>
        <div class="row border-top" style="background-color: #EEEEEE;">
            <div class="p-1 border-right col-2 col-md-2">
                <h6 class="p-1" contenteditable="true">Vorname, Nachname</h6>
            </div>
            <div class="col-md-2 col-2 border-right">
                <h6 class="p-1">Accounttyp (Kunde, Vermieter, Eventmitarbeiter)</h6>
            </div>
            <div class="p-1 col-8 col-md-8 d-flex">
                <a class="btn btn-light mx-auto mt-2" href="#" style="	width: 150px; height: 40px;">Daten
                    bearbeiten</a>
                <a class="btn btn-light mx-auto mt-2" href="#" style="	width: 150px; height: 40px;">E-Mail
                    schreiben</a>
                <a class="btn btn-light mx-auto mt-2" href="#" style="	width: 200px; height: 40px;">Details zum
                    Account</a>
                <a class="btn btn-danger mx-auto mt-2" href="#" style="	width: 150px; height: 40px;">Account
                    löschen</a></div>
        </div>
        <div class="row border-top" style="background-color: #EEEEEE;">
            <div class="p-1 border-right col-2 col-md-2">
                <h6 class="p-1" contenteditable="true">Vorname, Nachname</h6>
            </div>
            <div class="col-md-2 col-2 border-right">
                <h6 class="p-1">Accounttyp (Kunde, Vermieter, Eventmitarbeiter)</h6>
            </div>
            <div class="p-1 col-8 col-md-8 d-flex">
                <a class="btn btn-light mx-auto mt-2" href="#" style="	width: 150px; height: 40px;">Daten
                    bearbeiten</a>
                <a class="btn btn-light mx-auto mt-2" href="#" style="	width: 150px; height: 40px;">E-Mail
                    schreiben</a>
                <a class="btn btn-light mx-auto mt-2" href="#" style="	width: 200px; height: 40px;">Details zum
                    Account</a>
                <a class="btn btn-danger mx-auto mt-2" href="#" style="	width: 150px; height: 40px;">Account
                    löschen</a></div>
        </div>
        <div class="row border-top" style="background-color: #EEEEEE;">
            <div class="p-1 border-right col-2 col-md-2">
                <h6 class="p-1" contenteditable="true">Vorname, Nachname</h6>
            </div>
            <div class="col-md-2 col-2 border-right">
                <h6 class="p-1">Accounttyp (Kunde, Vermieter, Eventmitarbeiter)</h6>
            </div>
            <div class="p-1 col-8 col-md-8 d-flex">
                <a class="btn btn-light mx-auto mt-2" href="#" style="	width: 150px; height: 40px;">Daten
                    bearbeiten</a>
                <a class="btn btn-light mx-auto mt-2" href="#" style="	width: 150px; height: 40px;">E-Mail
                    schreiben</a>
                <a class="btn btn-light mx-auto mt-2" href="#" style="	width: 200px; height: 40px;">Details zum
                    Account</a>
                <a class="btn btn-danger mx-auto mt-2" href="#" style="	width: 150px; height: 40px;">Account
                    löschen</a></div>
        </div>
        <div class="row border-top" style="background-color: #EEEEEE;">
            <div class="p-1 border-right col-2 col-md-2">
                <h6 class="p-1" contenteditable="true">Vorname, Nachname</h6>
            </div>
            <div class="col-md-2 col-2 border-right">
                <h6 class="p-1">Accounttyp (Kunde, Vermieter, Eventmitarbeiter)</h6>
            </div>
            <div class="p-1 col-8 col-md-8 d-flex">
                <a class="btn btn-light mx-auto mt-2" href="#" style="	width: 150px; height: 40px;">Daten
                    bearbeiten</a>
                <a class="btn btn-light mx-auto mt-2" href="#" style="	width: 150px; height: 40px;">E-Mail
                    schreiben</a>
                <a class="btn btn-light mx-auto mt-2" href="#" style="	width: 200px; height: 40px;">Details zum
                    Account</a>
                <a class="btn btn-danger mx-auto mt-2" href="#" style="	width: 150px; height: 40px;">Account
                    löschen</a></div>
        </div>
        <div class="row border-top" style="background-color: #EEEEEE;">
            <div class="p-1 border-right col-2 col-md-2">
                <h6 class="p-1" contenteditable="true">Vorname, Nachname</h6>
            </div>
            <div class="col-md-2 col-2 border-right">
                <h6 class="p-1">Accounttyp (Kunde, Vermieter, Eventmitarbeiter)</h6>
            </div>
            <div class="p-1 col-8 col-md-8 d-flex">
                <a class="btn btn-light mx-auto mt-2" href="#" style="	width: 150px; height: 40px;">Daten
                    bearbeiten</a>
                <a class="btn btn-light mx-auto mt-2" href="#" style="	width: 150px; height: 40px;">E-Mail
                    schreiben</a>
                <a class="btn btn-light mx-auto mt-2" href="#" style="	width: 200px; height: 40px;">Details zum
                    Account</a>
                <a class="btn btn-danger mx-auto mt-2" href="#" style="	width: 150px; height: 40px;">Account
                    löschen</a></div>
        </div>
    </div>
</div>

<footer th:replace="footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>