<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>FeWoDre - Accountverwaltung</title>
</head>

<body>

<nav th:replace="navbar :: navbar" style="width: 100%"></nav>

<div style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.2));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
    <div class="container">
        <div class="row"
             style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.03));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
            <div class="p-lg-2 w-100">
                <h1 class="text-center" style="	text-shadow: 2px 2px 4px rgba(0,0,0,0.1);">
                    Nutzeraccountverwaltung</h1>
            </div>
        </div>

        <!-- BUTTONS FÜR ACCOUNTERSTELLUNG (VERMIETER, EVENTMITARBEITER) -->
        <div class="row border-top bg-white text-center">
            <div class="p-1 col-12 col-md-12 d-flex">
                <a class="btn btn-success mx-auto mt-2" href="/newhost">
                    Vermieteraccount erstellen
                </a>
                <a class="btn btn-success mx-auto mt-2" href="/neweventemployee">
                    Eventmitarbeiter erstellen
                </a>
            </div>
        </div>

        <!-- INAKTIVE MIETER-ACCOUNTS WERDEN HIER ZUR BESTÄTIGUNG & VERWALTUNG AUFGELISTET -->
        <div class="row border-top mt-2" style="background-color: #EEEEEE;">
            <div class="p-1 border-right col-12 col-md-12">
                <h3 class="p-1 text-center">Inaktive Mieteraccounts</h3>
            </div>
        </div>
        <div class="row border-top bg-white text-center" th:if="${unactivatedTenants.isEmpty()}">
            <h6 class="col-12 text-black-50 font-italic p-3">Alle Mieter sind bestätigt.</h6>
        </div>
        <div class="row border font-italic border-secondary text-center align-self-center"
             th:if="${!unactivatedTenants.isEmpty()}" style="background-color: #DEDEDE;">
            <div class="p-1 col-2 col-md-2 border-right border-secondary">
                <h6>Nachname, Vorname</h6>
            </div>
            <div class="p-1 col-md-2 col-2 border-right border-secondary">
                <h6>E-Mail Adresse</h6>
            </div>
            <div class="p-1 col-8 col-md-8 border-secondary">
                <h6>Aktionen</h6>
            </div>
        </div>
        <div class="row border-top bg-white" th:each="account : ${unactivatedTenants}">
            <div class="p-1 border-right col-2 col-md-2 align-self-center">
                <h6 class="p-1" th:text="${account.getLastname() + ', ' + account.getFirstname()}">Nachname,
                    Vorname</h6>
            </div>
            <div class="p-1 border-right col-2 col-md-2 align-self-center">
                <h6 class="p-1" th:text="${account.getEmail()}">e@mail.de</h6>
            </div>
            <div class="p-1 col-8 col-md-8 d-flex">
                <a class="btn btn-outline-info mr-3 mx-auto" href="#">
                    Daten bearbeiten
                </a>
                <a class="btn btn-outline-info mr-3 mx-auto" th:href="${'mailto:' + account.getEmail()}" href="mailto:">
                    E-Mail schreiben
                </a>
                <form th:action="@{/activatetenant}" method="post" class="mx-auto">
                    <input type="hidden" name="tenant_username"
                           th:value="${account.getUsername()}">
                    <input type="submit" value="Bestätigen" class="btn btn-success mr-3 mx-auto">
                </form>
                <form th:action="@{/deleteaccount}" method="post" class="mx-auto">
                    <input type="hidden" name="account_username"
                           th:value="${account.getUsername()}">
                    <input type="submit" value="Account löschen" class="btn btn-danger mr-3 mx-auto">
                </form>
            </div>
        </div>

        <!-- AKTIVE MIETER-ACCOUNTS WERDEN HIER ZUR VERWALTUNG AUFGELISTET -->
        <div class="row border-top mt-2" style="background-color: #EEEEEE;">
            <div class="p-1 border-right col-12 col-md-12">
                <h3 class="p-1 text-center">Aktivierte Mieteraccounts</h3>
            </div>
        </div>
        <div class="row border-top bg-white text-center" th:if="${activatedTenants.isEmpty()}">
            <h6 class="col-12 text-black-50 font-italic p-3">Keine (bestätigten) Mieter vorhanden.</h6>
        </div>
        <div class="row border font-italic border-secondary text-center align-self-center"
             th:if="${!activatedTenants.isEmpty()}" style="background-color: #DEDEDE;">
            <div class="p-1 col-2 col-md-2 border-right border-secondary">
                <h6>Nachname, Vorname</h6>
            </div>
            <div class="p-1 col-md-2 col-2 border-right border-secondary">
                <h6>E-Mail Adresse</h6>
            </div>
            <div class="p-1 col-8 col-md-8 border-secondary">
                <h6>Aktionen</h6>
            </div>
        </div>
        <div class="row border-top bg-white" th:each="account : ${activatedTenants}">
            <div class="p-1 border-right col-2 col-md-2 align-self-center">
                <h6 class="p-1"
                    th:text="${account.getAccount().getLastname() + ', ' + account.getAccount().getFirstname()}">
                    Nachname, Vorname</h6>
            </div>
            <div class="p-1 border-right col-2 col-md-2 align-self-center">
                <h6 class="p-1" th:text="${account.getAccount().getEmail()}">test@test.de</h6>
            </div>
            <div class="p-1 col-8 col-md-8 d-flex">
                <form th:action="@{/manageaccount}" method="get" class="mx-auto">
                   <input type="hidden" name="tenant_username" th:value="${account.getAccount().getUsername()}">
                    <input type="submit" value="Daten bearbeiten" class="btn btn-outline-info mr-3 mx-auto">
                </form>
                <a class="btn btn-outline-info mr-3 mx-auto" th:href="${'mailto:' + account.getAccount().getEmail()}" href="mailto:">
                    E-Mail schreiben
                </a>
                <a class="btn btn-outline-info mr-3 mx-auto" >
                    Details zum Account
                </a>
                <form th:action="@{/deleteaccount}" method="post" class="mx-auto">
                    <input type="hidden" name="account_username"
                           th:value="${account.getAccount().getUsername()}">
                    <input type="submit" value="Account löschen" class="btn btn-danger mr-3">
                </form>
            </div>
        </div>

        <!-- VERMIEtER-ACCOUNTS WERDEN HIER ZUR VERWALTUNG AUFGELISTET -->
        <div class="row border-top mt-2" style="background-color: #EEEEEE;">
            <div class="p-1 border-right col-12 col-md-12">
                <h3 class="p-1 text-center">Vermieteraccounts</h3>
            </div>
        </div>
        <div class="row border-top bg-white text-center" th:if="${hostAccounts.isEmpty()}">
            <h6 class="col-12 text-black-50 font-italic p-3">Keine Vermieter vorhanden.</h6>
        </div>
        <div class="row border font-italic border-secondary text-center align-self-center"
             th:if="${!hostAccounts.isEmpty()}" style="background-color: #DEDEDE;">
            <div class="p-1 col-2 col-md-2 border-right border-secondary">
                <h6>Nachname, Vorname</h6>
            </div>
            <div class="p-1 col-md-2 col-2 border-right border-secondary">
                <h6>E-Mail Adresse</h6>
            </div>
            <div class="p-1 col-8 col-md-8 border-secondary">
                <h6>Aktionen</h6>
            </div>
        </div>
        <div class="row border-top bg-white" th:each="account : ${hostAccounts}">
            <div class="p-1 border-right col-2 col-md-2 align-self-center">
                <h6 class="p-1"
                    th:text="${account.getAccount().getLastname() + ', ' + account.getAccount().getFirstname()}">
                    Nachname, Vorname</h6>
            </div>
            <div class="p-1 border-right col-2 col-md-2 align-self-center">
                <h6 class="p-1" th:text="${account.getAccount().getEmail()}">test@test.de</h6>
            </div>
            <div class="p-1 col-8 col-md-8 d-flex">
                <form th:action="@{/manageaccount}" method="get" class="mx-auto">
                    <input type="hidden" name="tenant_username" th:value="${account.getAccount().getUsername()}">
                    <input type="submit" value="Daten bearbeiten" class="btn btn-outline-info mr-3 mx-auto">
                </form>
                <a class="btn btn-outline-info mr-3 mx-auto" th:href="${'mailto:' + account.getAccount().getEmail()}" href="mailto:">
                    E-Mail schreiben
                </a>
                <a class="btn btn-outline-info mr-3" href="#">
                    Details zum Account
                </a>
                <form th:action="@{/deleteaccount}" method="post" class="mx-auto">
                    <input type="hidden" name="account_username"
                           th:value="${account.getAccount().getUsername()}">
                    <input type="submit" value="Account löschen" class="btn btn-danger mr-3">
                </form>
            </div>
        </div>

        <!-- EVENTMITARBEITER-ACCOUNTS WERDEN HIER ZUR VERWALTUNG AUFGELISTET -->
        <div class="row border-top mt-2" style="background-color: #EEEEEE;">
            <div class="p-1 border-right col-12 col-md-12">
                <h3 class="p-1 text-center">Eventmitarbeiteraccounts</h3>
            </div>
        </div>
        <div class="row border-top bg-white text-center" th:if="${eventAccounts.isEmpty()}">
            <h6 class="col-12 text-black-50 font-italic p-3 mb-2">Keine Vermieter vorhanden.</h6>
        </div>
        <div class="row border font-italic border-secondary text-center align-self-center"
             th:if="${!eventAccounts.isEmpty()}" style="background-color: #DEDEDE;">
            <div class="p-1 col-2 col-md-2 border-right border-secondary">
                <h6>Nachname, Vorname</h6>
            </div>
            <div class="p-1 col-md-2 col-2 border-right border-secondary">
                <h6>E-Mail Adresse</h6>
            </div>
            <div class="p-1 col-8 col-md-8 border-secondary">
                <h6>Aktionen</h6>
            </div>
        </div>
        <div class="row border-top bg-white" th:each="account : ${eventAccounts}">
            <div class="p-1 border-right col-2 col-md-2 align-self-center">
                <h6 class="p-1"
                    th:text="${account.getAccount().getLastname() + ', ' + account.getAccount().getFirstname()}">
                    Nachname, Vorname</h6>
            </div>
            <div class="p-1 border-right col-2 col-md-2 align-self-center">
                <h6 class="p-1" th:text="${account.getAccount().getEmail()}">test@test.de</h6>
            </div>
            <div class="p-1 col-8 col-md-8 d-flex">
                <form th:action="@{/manageaccount}" method="get" class="mx-auto">
                    <input type="hidden" name="tenant_username" th:value="${account.getAccount().getUsername()}">
                    <input type="submit" value="Daten bearbeiten" class="btn btn-outline-info mr-3 mx-auto">
                </form>
                <a class="btn btn-outline-info mr-3 mx-auto" th:href="${'mailto:' + account.getAccount().getEmail()}" href="mailto:">
                    E-Mail schreiben
                </a>
                <a class="btn btn-outline-info mr-3" href="#">
                    Details zum Account
                </a>
                <form th:action="@{/deleteaccount}" method="post" class="mx-auto">
                    <input type="hidden" name="account_username"
                           th:value="${account.getAccount().getUsername()}">
                    <input type="submit" value="Account löschen" class="btn btn-danger mr-3">
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>