<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="de">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>FeWoDre - Vermieter-Account erstellen</title>
</head>

<body>

<nav th:replace="navbar :: navbar" style="width: 100%"></nav>


<div class="py-5"
     style="background-image: url('/resources/img/landingpage_bg.png'); background-position:left center; background-size: cover;">
    <form role="form" id="hostRegistrationForm" th:action="@{/newhost}" th:object="${hostRegistrationForm}"
          method="post">
        <div class="container">
            <div class="row">
                <div class="p-5 col-lg-6"
                     style="	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));	background-position: top left;	background-size: 100%;	background-repeat: repeat;	box-shadow: 5px 5px 5px  rgba(0,0,0,0.2);">
                    <h1>Einen neuen Vermieter anlegen</h1>
                    <div class="form-group">
                        <div class="form-inline">
                            <input type="text" id="firstname" name="firstname" th:field="*{firstName}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('firstName') ? ' is-invalid' : ''}"
                                   placeholder="Vorname" style="width: 33%;" aria-label="Vorname">
                            <input type="text" id="lastname" name="lastname" th:field="*{lastName}"
                                   class="form-control mr-0 ml-auto"
                                   th:classappend="${#fields.hasErrors('lastName') ? 'is-invalid' : ''}"
                                   placeholder="Nachname"
                                   style="width: 65%;" aria-label="Nachname">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" id="email" name="email" th:field="*{email}" class="form-control"
                               th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
                               placeholder="E-Mail Adresse eingeben" aria-label="E-Mail Adresse">
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" th:field="*{password}"
                               class="form-control"
                               th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                               placeholder="Passwort eingeben" aria-label="Passwort">
                    </div>
                    <div class="form-group">
                        <input type="password" id="password-confirm" name="password-confirm"
                               th:field="*{passwordConfirm}" class="form-control"
                               th:classappend="${#fields.hasErrors('passwordConfirm') ? 'is-invalid' : ''}"
                               placeholder="Passwort wiederholen" aria-label="Passwort wiederholen"
                               oninput="checkpasswords(this)">
                    </div>
                    <script type='text/javascript'>
                        function checkpasswords(input) {
                            if (document.getElementById('password-confirm').value !== document.getElementById('password').value) {
                                input.setCustomValidity('Die Passwörter stimmen nicht überein');
                            } else {
                                input.setCustomValidity('');
                            }
                        }
                    </script>
                    <div class="form-group">
                        <input type="date" id="birthdate" name="birthdate" class="form-control"
                               th:classappend="${#fields.hasErrors('birthDate') ? 'is-invalid' : ''}"
                               th:field="*{birthDate}" placeholder="Geburtsdatum" aria-label="Geburtsdatum">
                    </div>
                    <div class="form-group">
                        <div class="form-inline">
                            <input type="text" id="street" name="street" th:field="*{street}" class="form-control"
                                   th:classappend="${#fields.hasErrors('street') ? 'is-invalid' : ''}"
                                   placeholder="Straße" style="width: 83%" aria-label="Straße">
                            <input type="text" id="houseNumber" name="houseNumber" class="form-control mr-0 ml-auto"
                                   th:classappend="${#fields.hasErrors('houseNumber') ? 'is-invalid' : ''}"
                                   th:field="*{houseNumber}" placeholder="Nr." style="width: 15%;"
                                   aria-label="Hausnummer">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-inline">
                            <input type="text" id="postcode" name="postcode" th:field="*{postcode}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('postcode') ? 'is-invalid' : ''}"
                                   placeholder="PLZ" style="width: 23%" aria-label="Postleitzahl">
                            <input type="text" id="city" name="city" th:field="*{city}"
                                   class="form-control mr-0 ml-auto"
                                   th:classappend="${#fields.hasErrors('city') ? 'is-invalid' : ''}"
                                   placeholder="Ortschaft" style="width: 75%;" aria-label="Ortschaft">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-inline">
                            <input type="text" id="iban" name="iban"
                                   pattern="^DE\d{2}[ ]\d{4}[ ]\d{4}[ ]\d{4}[ ]\d{4}[ ]\d{2}|DE\d{20}$"
                                   th:field="*{iban}" class="form-control"
                                   th:classappend="${#fields.hasErrors('iban') ? 'is-invalid' : ''}"
                                   placeholder="IBAN" style="width: 57%" aria-label="IBAN">
                            <input type="text" id="bic" name="bic"
                                   pattern="^([a-zA-Z]){6}([0-9a-zA-Z]){2}([0-9a-zA-Z]{3})?$" th:field="*{bic}"
                                   class="form-control mr-0 ml-auto"
                                   th:classappend="${#fields.hasErrors('bic') ? 'is-invalid' : ''}"
                                   placeholder="BIC" style="width: 41%;" aria-label="BIC">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2" oninput="checkpasswords(this)">Jetzt
                        Registrieren<br></button>
                </div>
                <div class="p-5 col-5" th:if="${#fields.hasErrors()}">
                    <div class="row alert-danger table-danger p-3" style="border-radius: calc(1rem);">
                        <b class="p-3" style="color: #881111; height: 0; margin-bottom: 0">
                            Bitte überprüfen Sie Ihre Angaben:
                        </b>
                        <ul class="mt-3 mb-3">
                            <li th:each="error : ${#fields.allDetailedErrors()}" th:text="${error.getMessage()}">
                                TEst
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<footer th:replace="footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>