<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Prototype GUI Ferienhausvermietung 2020</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container p-0 w-100" style="height:56px">
      <div class="row">
        <div class="w-100"><iframe width="100%" scrolling="no" frameborder="0" src="navbar.html" style="height:56px"></iframe></div>
      </div>
    </div>
  <div class="py-5" style="background-image: url('https://static.pingendo.com/cover-stripes.svg'); background-position:left center; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="p-5 col-lg-6" style="	background-image: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.1));	background-position: top left;	background-size: 100%;	background-repeat: repeat;	box-shadow: 5px 5px 5px  rgba(0,0,0,0.2);">
          <h1>Neu bei uns?</h1>
          <p class="mb-3" contenteditable="true">Dann erstellen Sie sich ganz bequem und schnell ein neues Benutzerkonto auf unserer Plattform:</p>
          <form>
            <div class="form-group">
              <div class="form-inline">
                <input type="text" placeholder="Vorname" id="firstname" required="required" class="form-control" style="width: 33%;">
                <input type="text" class="form-control mr-0 ml-auto" placeholder="Nachname" id="lastname" required="required" style="width: 65%;">
              </div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="E-Mail Adresse eingeben" id="form11" required="required">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Passwort eingeben" id="form12" required="required">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Passwort wiederholen" id="form12" required="required">
            </div>
            <div class="form-group">
              <input type="date" class="form-control" placeholder="Geburtsdatum" id="form12" required="required">
            </div>
            <div class="form-group">
              <div class="form-inline">
                <input type="text" placeholder="Straße" id="firstname" required="required" class="form-control" style="width: 83%">
                <input type="text" class="form-control mr-0 ml-auto" id="lastname" required="required" style="width: 15%;" placeholder="Nr.">
              </div>
            </div>
            <div class="form-group">
              <div class="form-inline">
                <input type="text" placeholder="PLZ" id="firstname" required="required" class="form-control" style="width: 23%">
                <input type="text" class="form-control mr-0 ml-auto" id="lastname" required="required" style="width: 75%;" placeholder="Ortschaft">
              </div>
            </div>
            <div class="form-check">
              <input type="checkbox" placeholder="PLZ" id="terms" name="terms" required="required" class="form-check-input">
              <label class="form-check-label" for="terms">Ich akzeptiere die <a href="#" class="">allgemeinen Geschäftsbedingungen</a>. </label>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Jetzt Registrieren<br></button>
          </form>
        </div>
      </div>
    </div>
        <div class="container p-0 w-100" style="height:56px">
      <div class="row">
        <div class="w-100"><iframe width="100%" scrolling="no" frameborder="0" src="footer.html"></iframe></div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>