
<!--
<!DOCTYPE html>
<html>
-->

<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  
    <div class="" style="	background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.2));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
      <div class="container p-0 w-100" style="height:56px">
        <div class="row">
          <div class="w-100"><iframe width="100%" scrolling="no" frameborder="0" src="navbar.html" style="height:56px"></iframe></div>
        </div>
      </div>
      <div class="container" style="background-color: #EEEEEE;">
        <div class="row" style="	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.03));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
          <div class="p-lg-2 w-100">
            <h1 class="text-center" style="	text-shadow: 2px 2px 4px rgba(0,0,0,0.1);">Neues Event hinzufügen</h1>
          </div>
        </div>
        <div class="row" style="background-color: #EEEEEE;">
          <div class="p-1 col-8 col-md-12">
            <h5 class="p-2">Füllen Sie die benötigten Daten Ihres Events aus.</h5>
          </div>
        </div>
        <form method="post" role="form" id="form" class="gb-form" th:action="@{/addEvent}" th:object="${form}">
          <div class="form-group" style="background-color: #EEEEEE;">
            <div class="p-1 col-8 col-md-8">
              <h4 class="p-1">Name</h4>
              <input type="text" class="w-100" th:name="name" required="required"/>
            </div>
          </div>
          <div class="form-group" style="background-color: #EEEEEE;">
            <div class="p-1 col-8 col-md-8">
              <h4 class="p-1">Preis</h4>
              <input class="w-100" type="number"/>
            </div>
          </div>
          <div class="form-group" style="background-color: #EEEEEE;">
            <div class="p-1 col-8 col-md-8">
              <h4 class="p-1">Beschreibung</h4>
              <textarea type="text" class="w-100" th:name="description" required="required"></textarea>
            </div>
          </div>
          <div class="form-group" style="background-color: #EEEEEE;">
            <div class="p-1 col-8 col-md-8">
              <h4 class="p-1">EventcompanyUuid</h4>
              <textarea class="w-100" th:name="eventCompanyUuid" required="required"></textarea>
            </div>
          </div>
          <!-- 
          <div class="form-group" style="background-color: #EEEEEE;">
            <div class="p-1 col-8 col-md-8">
              <h4 class="p-1">EventStatus</h4>
              <textarea class="w-100"></textarea>
            </div>
          </div>
           -->
          <div class="form-group" style="background-color: #EEEEEE;">
            <div class="p-1 col-8 col-md-8">
              <h4 class="p-1">EventType</h4>
              <select th:name="EventType" required="required">
                <option value="big">groß</option>
                <option value="sml">klein</option>
              </select>
            </div>
          </div>
          <!--
          <div class="form-group" style="background-color: #EEEEEE;">
            <div class="p-1 col-4 col-md-4 border-right">
              <h4 class="p-1">Bilder</h4>
            </div>
            <div class="p-1 col-8 col-md-8">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Wählen Sie Bilder aus. (PNG, JPEG)</label>
              </div>
            </div>
          </div>
          -->
          <div class="form-group" style="background-color: #EEEEEE;">
            <div class="p-1 col-8 col-md-8">
              <h4 class="p-1">Straße</h4>
              <textarea class="w-100" th:name="street" required="required"></textarea>
            </div>
          </div>
          <div class="form-group" style="background-color: #EEEEEE;">
            <div class="p-1 col-8 col-md-8">
              <h4 class="p-1">Hausnummer</h4>
              <textarea class="w-100" th:name="number" required="required"></textarea>
            </div>
          </div>
          <div class="form-group" style="background-color: #EEEEEE;">
            <div class="p-1 col-8 col-md-8">
              <h4 class="p-1">Ort</h4>
              <textarea class="w-100" th:name="city" required="required"></textarea>
            </div>
          </div>
          <div class="form-group" style="background-color: #EEEEEE;">
            <div class="p-1 col-8 col-md-8">
              <h4 class="p-1">Postleitzahl</h4>
              <textarea class="w-100" th:name="postalnumber" required="required"></textarea>
            </div>
          </div>
          <div class="form-group" style="background-color: #EEEEEE;">
            <div class="p-1 col-8 col-md-8">
              <h4 class="p-1">Capacity</h4>
              <input class="w-100" type="number" min="0" th:name="capacity" required="required"></input>
            </div>
          </div>
          <div class="row border-top p-3" style="background-color: #EEEEEE;">
            <input class="btn btn-primary w-25 ml-auto mr-auto" type="submit" value="Senden" />
          </div>
        </form>
      </div>
      <div class="container p-0 w-100" style="height:56px">
        <div class="row">
          <div class="w-100"><iframe width="100%" scrolling="no" frameborder="0" src="footer.html"></iframe></div>
        </div>
      </div>
    </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>