<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>FeWoDre - Buchungsdetails</title>
</head>
<body>
<div class="container p-0 w-100" style="height:56px">
    <div class="row">
        <div class="w-100">
            <nav th:include="navbar" style="width: 100%"></nav>
        </div>
    </div>
</div>
<div class="py-3" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.2));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
<br/>
    <div class="container">
        <div class="card mb-3" style="max-width: 800px; margin: 0 auto;float: none;margin-bottom: 10px;" th:each="booking: ${bookings}">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <a th:href="@{/bookingdetails/{id}(id=${booking.id})}">
                    <img th:src="@{/resources/img/{image}(image=${homeCatalog.findFirstByProductIdentifier(booking.getUuidHome()).image})}" class="card-img" alt="..." width="80px">
                    </a>
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${homeCatalog.findFirstByProductIdentifier(booking.getUuidHome()).name}">Home Name</h5>
                        <p class="card-text" th:text="'Anreisedatum: '+ ${formatter.formatDate(booking.arrivalDate)}">Anreise Datum: 12.Dec 2020</p>
                        <p class="card-text" th:text="'Abreisedatum: '+ ${formatter.formatDate(booking.departureDate)}">Abreise Datum: 20.Dec 2020</p>
                        <p class="card-text"><small class="text-muted" th:text="${booking.getState()}">Booking Status</small></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-body">
                        <small class="text-muted">gesamte Kosten</small>
                        <h3 th:text="${formatter.parsePrice(booking.getTotal())}">Price</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container p-0 w-100 mt-5 bg-white">
    <div class="row">
        <div class="w-100">
            <nav th:include="footer :: footer"></nav>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>