<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>FeWoDre - Buchungsdetails</title>
    <style>
        .btn-info {
            color: #fff;
            background-color: #17a2b8;
            border-color: #17a2b8;
        }
    </style>
</head>

<body>

<nav th:replace="navbar :: navbar" style="width: 100%"></nav>

<div style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.2));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
    <div class="container" style="">
        <div class="row"
             style="	background-image: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.1));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <div class="carousel slide" data-ride="carousel" id="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active"><img class="d-block img-fluid w-100"
                                                               th:src="@{/resources/img/{image}(image=${holidayHome.image})}">
                        </div>
                        <div class="carousel-item"><img class="d-block img-fluid w-100"
                                                        th:src="@{/resources/img/{image}(image=${holidayHome.image})}">
                        </div>
                        <div class="carousel-item"><img class="d-block img-fluid w-100"
                                                        th:src="@{/resources/img/{image}(image=${holidayHome.image})}">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev"> <span
                            class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span> </a> <a
                        class="carousel-control-next" href="#carousel" role="button" data-slide="next"> <span
                        class="carousel-control-next-icon"></span> <span class="sr-only">Next</span> </a>
                </div>
            </div>
            <div class="col-md-6 p-lg-5 p-3">
                <h1 class="" th:text="${holidayHome.name}">Buchung: Entspannte Hood in Dresden<br></h1>
            </div>
        </div>
        <br/>

        <div class="row border-top" style="background-color: #EEEEEE;">
            <div class="p-1 col-4 col-md-4 border-right">
                <h4 class="p-1">Beschreibung</h4>
            </div>
            <div class="p-1 col-8 col-md-8">
                <h5 class="p-1" th:text="${holidayHome.getDescription()}">Sehen Sie hier Ihre Buchungsdetails ein.</h5>
            </div>
        </div>
        <div class="row border-top" style="background-color: #EEEEEE;">
            <div class="p-1 col-4 col-md-4 border-right">
                <h4 class="p-1">Preis</h4>
            </div>
            <div class="p-1 col-8 col-md-8">
                <h5 class="p-1" th:text="${formatter.parsePrice(booking.getPrice())}">5 Tage, 500€</h5>
            </div>
        </div>
        <div class="row border-top" style="background-color: #EEEEEE;">
            <div class="p-1 col-4 col-md-4 border-right">
                <h4 class="p-1">Verkäufer</h4>
            </div>
            <div class="p-1 col-8 col-md-8">
                <h5 class="p-1" th:text="${booking.hostName}">Herr Müller</h5>
            </div>
        </div>
        <div class="row border-top" style="background-color: #EEEEEE;">
            <div class="p-1 col-4 col-md-4 border-right">
                <h4 class="p-1">Buchungsnummer</h4>
            </div>
            <div class="p-1 col-8 col-md-8">
                <h5 class="p-1" th:text="${booking.id}">0123789</h5>
            </div>
        </div>
        <div class="row border-top text-center" style="background-color: #EEEEEE;">
            <a class="btn btn-danger btn-lg" href="#">Buchung stornieren.</a>
            <!--<a class="btn btn-info btn-lg" href="#">Buchung bezahlen.</a>//!!-->
        </div>
    </div>
</div>

<footer th:replace="footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>