<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
<div class="container p-0 w-100" style="height:56px">
    <div class="row">
        <div class="w-100">
            <nav th:include="navbar" style="width: 100%"></nav>
        </div>
    </div>
</div>
<div class="py-3" style="	background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.2));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
    <div class="container" style="">
        <div class="row" style="	background-image: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.1));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h1 class="mb-3" >Mein Warenkorb</h1>
            </div>
        </div>
        <br/>
        <p th:if="${cart.empty}"> Mein Warenkorb ist leer</p>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 bd-content">
                <div class="row" th:remove="all-but-first"></div>
                <div class="col-md-4 col-6 p-1" th:each="cart : ${cart}">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/resources/img/{image}(image=${cart.image})}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${cart.productName}"><b>----title----</b></h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">From - to -</li>
                            <li class="list-group-item">2 Personen</li>
                            <li class="list-group-item">Gesamtreis</li>
                        </ul>
                        <div class="card-footer p-2 w-100">
                            <div class="d-flex flex-row-reverse">
                                <a href="#" class="btn btn-primary btn-outline-light">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6 p-1 bd-sidebar">
                <h3>Ihre Bestellung</h3><br>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="row">Name</p>
                        <p class="row">Ferienhaus Name</p>
                        <p class="row">Anreise Datum</p>
                        <p class="row">Abreise Datum</p>
                        <p class="row">Preis pro Nacht</p>
                        <p class="row">Übernachtungsanzahl</p>
                        <p class="row">Eventgesamtpreis</p>
                        <p class="row">Gasamtpreise</p>
                    </div>

                    <div class="col">
                        <p>Harry Potter</p>
                        <p>HolidayHome</p>
                        <p> 01.01.2021</p>
                        <p> 01.08.2021</p>
                        <p> 100 € </p>
                        <p> 7 </p>
                        <p> 40 € </p>
                        <p> 740 € </p>

                        <form method="POST">
                            <button type="submit" class="btn btn-primary">Bestellen</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-0 w-100 mt-5 bg-white">
    <div class="row">
        <div class="w-100">
            <nav th:include="footer"></nav>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>