<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>FeWoDre - Event bearbeiten</title>
</head>

<body>
<nav th:replace="navbar :: navbar" style="width: 100%"></nav>

<div style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.2)); background-position: top left; background-size: 100%; background-repeat: repeat;">
    <div class="container">
        <div class="row rounded" th:if="${errors.containsKey('success')}">
            <div class="w-100 alert-success">
                <p class="text-center align-self-center p-1 m-0" th:text="${errors.get('success')}">Ferienhaus
                    bearbeiten</p>
            </div>
        </div>
        <div class="row" style="background-color: #EEEEEE;">
            <div class="p-lg-3 w-100">
                <h1 class="text-center">Event bearbeiten</h1>
            </div>
        </div>
        <div class="row" style="background-color: #EEEEEE;">
            <div class="p-1 col-8 col-md-12">
                <p class="lead mb-4 p-1 text-center">Füllen Sie die Daten aus, die sie an diesem Event bearbeiten
                    möchten.</p>
            </div>
        </div>
        <form method="post" role="form" id="form" class="gb-form" th:action="@{/editEvent}" th:object="${form}"
              enctype="multipart/form-data">
            <input class="form-group" type="hidden" th:name="eventId" th:value="${event.getId()}"/>
            <div class="row border-top" style="background-color: #EEEEEE;">
                <div class="p-1 col-4 col-md-4 border-right">
                    <label for="name" class="px-2">Eventtitel:</label>
                </div>
                <div class="p-1 col-8 col-md-8">
                    <input type="text" class="form-control" id="name" th:name="name"
                           th:placeholder="${event.name}"/>
                </div>
            </div>
            <div class="row border-top" style="background-color: #EEEEEE;">
                <div class="p-1 col-4 col-md-4 border-right">
                    <label for="description" class="px-2">Beschreibung:</label>
                </div>
                <div class="p-1 col-8 col-md-8">
                    <textarea type="text" class="form-control" id="description" th:name="description"
                              th:placeholder="${event.description}"></textarea>
                </div>
            </div>
            <div class="row border-top" style="background-color: #EEEEEE;"
                 th:if="${event.getEventType().toString() == 'LARGE'}">
                <div class="p-1 col-4 col-md-4 border-right">
                    <label th:for="price" class="px-2">Preis:</label>
                </div>
                <div class="p-1 col-8 col-md-8">
                    <div class="input-group">
                        <input class="form-control" id="price" name="price" type="number"
                               th:placeholder="${event.price.number}" aria-label="Preis pro Nacht"
                               step="0.01"
                               th:classappend="${errors.containsKey('price') ? ' is-invalid' : ''}"/>
                        <div class="input-group-text">
                            <i class="fas fa-euro-sign"></i>
                        </div>
                        <div class="invalid-feedback ml-2" style="display: block;"
                             th:if="${errors.containsKey('price')}"
                             th:text="${errors.get('price')}">
                            Error Text
                        </div>
                    </div>
                </div>
            </div>
            <input class="form-control" th:id="price" th:name="price" type="hidden" required="required"
                   th:if="${event.getEventType().toString() == 'SMALL'}" value="0"/>
            <div class="row border-top" style="background-color: #EEEEEE;">
                <div class="p-1 col-4 col-md-4 border-right">
                    <label for="date" class="px-2">Datum:</label>
                </div>
                <div class="p-1 col-8 col-md-8">
                    <input class="form-control" id="date" th:name="date" type="text"
                           th:min="${today}" th:placeholder="${event.date}"
                           onfocus="(this.type='date')" onblur="(this.type='text')"/>
                </div>
            </div>
            <div class="row border-top" style="background-color: #EEEEEE;">
                <div class="p-1 col-4 col-md-4 border-right">
                    <label for="time" class="px-2">Zeitpunkt:</label>
                </div>
                <div class="p-1 col-8 col-md-8">
                    <input class="form-control" id="time" th:name="time" type="text"
                           th:placeholder="${event.time}"
                           onfocus="(this.type='time')" onblur="(this.type='text')"/>
                </div>
                <input class="form-control" th:id="eventType" th:name="eventType" type="hidden" required="required"
                       th:if="${event.getEventType().toString() == 'LARGE'}" value="large"/>
                <input class="form-control" th:id="eventType" th:name="eventType" type="hidden" required="required"
                       th:if="${event.getEventType().toString() == 'SMALL'}" value="small"/>
            </div>
            <div class="row border-top" style="background-color: #EEEEEE;">
                <div class="p-1 col-4 col-md-4 border-right align-self-center">
                    <label for="imageupload" class="px-2">Bilder:</label>
                </div>

                <div class="p-1 col-8 col-md-8">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="imageupload"
                               name="imageupload"
                               th:classappend="${errors.containsKey('imageupload') ? ' is-invalid' : ''}">
                        <label class="custom-file-label" for="imageupload" id="upload-label">
                            Wählen Sie ein neues Bild aus. (JPG, PNG)
                        </label>
                        <div class="invalid-feedback ml-2" style="display: block;"
                             th:if="${errors.containsKey('imageupload')}"
                             th:text="${errors.get('imageupload')}">
                            Error Text
                        </div>
                    </div>
                    <script type="text/javascript">
                        var input = document.getElementById('imageupload');
                        var infoArea = document.getElementById('upload-label');

                        input.addEventListener('change', showFileName);

                        function showFileName(event) {
                            var input = event.srcElement;
                            var fileName = input.files[0].name;
                            infoArea.textContent = 'Bild: ' + fileName;
                        }
                    </script>
                </div>
            </div>
            <div class="row border-top" style="background-color: #EEEEEE;">
                <div class="p-1 col-4 col-md-4 border-right align-self-center">
                    <label for="capacity" class="px-2">Maximale Personenanzahl:</label>
                </div>
                <div class="p-1 col-8 col-md-8">
                    <div class="input-group">
                        <input class="form-control" type="number" id="capacity" min="0" name="capacity"
                               th:placeholder="${event.capacity}"
                               th:classappend="${errors.containsKey('capacity') ? ' is-invalid' : ''}"
                               aria-label="Maximale Personenanzahl"/>
                        <div class="invalid-feedback ml-2" style="display: block;"
                             th:if="${errors.containsKey('capacity')}"
                             th:text="${errors.get('capacity')}">
                            Error Text
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top" style="background-color: #EEEEEE;">
                <div class="p-1 col-4 col-md-4 border-right align-self-center">
                    <label for="street" class="px-2">Straße &amp; Hausnummer:</label>
                </div>
                <div class="p-1 col-7 col-md-7" style="">
                    <div class="input-group">
                        <input type="text" class="form-control" id="street" name="street"
                               th:placeholder="${event.place.street}" aria-label="Straße">
                    </div>
                    <div class="invalid-feedback ml-2" style="display: block;"
                         th:if="${errors.containsKey('houseNumber')}"
                         th:text="${errors.get('houseNumber')}">
                        Error Text
                    </div>
                </div>
                <div class="p-1 col-1 col-md-1" style="">
                    <input type="text" class="form-control" name="houseNumber" id="houseNumber"
                           th:placeholder="${event.place.houseNumber}" aria-label="Hausnummer"
                           th:classappend="${errors.containsKey('houseNumber') ? ' is-invalid' : ''}">
                </div>
            </div>
            <div class="row border-top" style="background-color: #EEEEEE;">
                <div class="p-1 col-4 col-md-4 border-right align-self-center">
                    <label for="city" class="px-2">Postleitzahl &amp; Ort:</label>
                </div>
                <div class="p-1 col-3 col-md-3">
                    <input type="number" class="form-control" name="postalCode" id="postalCode"
                           th:placeholder="${event.place.postalCode}" aria-label="Postleitzahl"
                           min="0"
                           th:classappend="${errors.containsKey('postalCode') ? ' is-invalid' : ''}">
                    <div class="invalid-feedback ml-2 d-inline"
                         th:if="${errors.containsKey('postalCode')}"
                         th:text="${errors.get('postalCode')}">
                        Error Text
                    </div>
                </div>
                <div class="p-1 col-5 col-md-5">
                    <input type="text" class="form-control" name="city" id="city"
                           th:placeholder="${event.place.city}">
                </div>
            </div>
            <div class="row border-top p-3" style="background-color: #EEEEEE;">
                <input class="btn btn-primary w-25 ml-auto mr-auto" type="submit" value="Event bearbeiten"/>
            </div>
        </form>


    </div>
</div>

<footer th:replace="footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>