<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="de" style="height: 100%">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Willkommen bei FeWoDre 2020!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="height: 100%; overflow: hidden;">
<nav th:replace="navbar :: navbar" style="width: 100%"></nav>

<div class="py-5 text-center text-white h-100 align-items-center d-flex mb-0" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(/resources/img/landingpage_bg.png);
       background-size: cover; background-position: center center;">
    <div class="container py-5">
        <div class="row">
            <div class="mx-auto col-lg-8 col-md-6 mb-3">
                <h1 class="display-3 mb-4 p-2 text-primary text-uppercase"><b>Fewodre</b></h1>
            </div>
        </div>
        <div class="row" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
             background-position: top left;
             background-size: 100%;
             background-repeat: repeat;
             border-radius: calc(1rem);">
            <div class="mx-auto col-lg-8 col-md-6 mb-3">
                <h2 class="display-3 mb-4 p-2">Da ist etwas schief gelaufen.</h2>
                <p class="lead mb-5">Unsere Experten arbeiten bereits an einer Lösung.</p>
                <a class="btn btn-lg btn-primary mx-1" href="itemlist.html" th:href="@{/}">Startseite</a>
                <a class="btn btn-lg mx-1 btn-primary" href="register.html" th:href="@{/holidayhomes}"> Ferienhäuser
                    ansehen</a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>