<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>FeWoDre - Events</title>
</head>

<body>

<nav th:replace="navbar :: navbar" style="width: 100%"></nav>

<div class="py-3"
     style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)); background-position: left top; background-size: 100%; background-repeat: repeat;">
    <div class="container" style="background-color: #EEEEEE;">
        <div class="row"
             style="background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)); background-position: left top; background-size: 100%; background-repeat: repeat;">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h1 class="mb-3">Entdecken Sie unser Eventangebot.</h1>
                <p class="lead mb-4">Hier sehen Sie eine Liste aller Events, die aktuell bei uns angeboten werden.
                </p>
            </div>
            <div class="col-md-6 p-lg-5 p-3">
                <img class="d-block img-fluid" style="height: auto;" src="../static/resources/img/house_1.png"
                     alt="">
            </div>
        </div>

        <!--Button für den EventEmployee zum erstellen von Events-->
        <div class="row p-2">
            <!--Buttons zum sortieren von den Events nach bestimmten Kategorien-->
            <div class="col-md-9">
                <div class="btn-group" sec:authorize="!hasRole('EVENT_EMPLOYEE')">
                    <form role="form" class="form-inline mr-auto ml-0" th:action="@{/sorteventtype}" method="post">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Event Type
                        </button>
            
                        <div class="dropdown-menu">
                            <input class="dropdown-item" type="submit" name="searchedEventType" value="Alle"/>
                            <div class="dropdown-divider"></div>
                            <input class="dropdown-item" type="submit" name="searchedEventType" value="Wiederholende Events"/>
                            <input class="dropdown-item" type="submit" name="searchedEventType" value="Besondere Events"/>
                        </div>
                    </form>

                    <form role="form" class="form-inline mr-auto ml-0" th:action="@{/sorteventcapacity}" method="post">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Personenanzahl (min.)
                        </button>
            
                        <div class="dropdown-menu">
                            <input class="dropdown-item" type="submit" name="searchedEventCapacity" value="Alle"/>
                            <div class="dropdown-divider"></div>
                            <input class="dropdown-item" type="submit" name="searchedEventCapacity" value="5"/>
                            <input class="dropdown-item" type="submit" name="searchedEventCapacity" value="10"/>
                            <input class="dropdown-item" type="submit" name="searchedEventCapacity" value="15"/>
                            <input class="dropdown-item" type="submit" name="searchedEventCapacity" value="20"/>
                        </div>
                    </form>

                    <form role="form" class="form-inline mr-auto ml-0" th:action="@{/sorteventdistrict}" method="post">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Stadtteil
                        </button>

                        <div class="dropdown-menu">
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Alle"/>
                            <div class="dropdown-divider"></div>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Altfranken"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Altstadt"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Blasewitz"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Cossebaude"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Cotta"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Gompitz"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Klotsche"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Langebrück"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Leuben"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Loschwitz"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Mobschatz"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Neustadt"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Oberwartha"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Pieschen"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Plauen"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Prohlis"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Schönborn"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Schönefeld-Weißig"/>
                            <input class="dropdown-item" type="submit" name="searchedEventDistrict" value="Weixdorf"/>
                        </div>
                    </form>

                    <form role="form" th:method="post" th:action="@{/deletalleventsorts}">
                        <input class="btn btn-danger btn-outline-light" type="submit"
                               value="Alle Filter zurück setzen"/>
                    </form>

                </div>

                <div class="col-md-3">
                    <a th:href="@{/addevents}" class="btn btn-primary btn-outline-light float-right mr-1"
                        sec:authorize="hasRole('EVENT_EMPLOYEE')">
                        Event erstellen
                    </a>
                </div>
            </div>
        </div>


        <div class="col-md-12 col-6 p-1" th:each="event : ${eventCatalog}">
            <!--Cards für EventEmployee mit Buttons (bearbeiten, löschen)-->
            <div class="card" sec:authorize="hasRole('EVENT_EMPLOYEE')">
                <div class="card-body">
                    <div class="row" style="">
                        <div class="col-md-5" style=""><img class="card-img-top w-100 h-100"
                                                            th:src="@{/resources/img/{image}(image=${event.image})}"
                                                            alt="Card image cap"></div>
                        <div class="col-md-7" style="">
                            <h5 class="card-title" th:text="${event.name}"><b>----title----</b></h5>
                            <p class="card-text" th:text="${event.description}">-----beschreibung-----<br></p>
                            <li class="list-group-item"><i class="fa fa-users"></i>
                                <p class="card-text d-inline ml-2"
                                   th:text="${'Max. ' + event.capacity + ' Teilnehmer'}">
                                    ----capacity----</p>
                            </li>
                            <li class="list-group-item"><i class="fa fa-money"></i>
                                <p class="card-text d-inline ml-2"
                                   th:text="${event.price.getNumber() + ',- € Teilnahmegebühr'}">----price----
                                </p>
                            </li>
                            <li class="list-group-item"><i class="fa fa-map"></i>
                                <p class="card-text d-inline ml-2"
                                   th:text="${event.place.street + ' ' + event.place.houseNumber + ', ' + event.place.postalCode + ' ' + event.place.city + ' (' + event.place.district + ')'}">
                                    ----place----
                                </p>
                            </li>
                            <div class="d-flex flex-row-reverse">
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                </ul>
                <div class="card-footer p-2 w-100">
                    <div class="d-flex flex-row-reverse">
                        <form th:if="${event.eventStatus}" role="form" th:method="get"
                              th:action="@{/editEventLocation}">
                            <input type="hidden" name="event" th:value="${event.id}"/>
                            <input class="btn btn-warning btn-outline-light" type="submit" value="Ort bearbeiten"/>
                        </form>
                        <form th:if="${event.eventStatus}" role="form" th:method="post" th:action="@{/cancelevent}">
                            <input type="hidden" name="event" th:value="${event.id}"/>
                            <input class="btn btn-warning btn-outline-light" type="submit" value="Event absagen"/>
                        </form>
                        <form th:unless="${event.eventStatus}" role="form" th:method="post"
                              th:action="@{/activateevent}">
                            <input type="hidden" name="event" th:value="${event.id}"/>
                            <input class="btn btn-warning btn-outline-light" type="submit"
                                   value="Event aktivieren"/>
                        </form>
                        <form th:unless="${event.eventStatus}" role="form" th:method="post"
                              th:action="@{/deleteevent}">
                            <input type="hidden" name="event" th:value="${event.id}"/>
                            <input class="btn btn-danger btn-outline-light" type="submit" value="Event löschen"/>
                        </form>
                        <form role="form" th:method="post" th:action="@{/editeventpage}">
                            <input type="hidden" name="event" th:value="${event.id}"/>
                            <input class="btn btn-primary btn-outline-light" type="submit"
                                   value="Event bearbeiten"/>
                        </form>
                    </div>
                </div>
            </div>

            <!--Cards für alle die kein EventEmployee sind-->
            <div class="card" sec:authorize="!hasAnyRole('EVENT_EMPLOYEE')">
                <div class="card-body">
                    <div class="row" style="">
                        <div class="col-md-5" style="">
                            <img class="card-img-top w-100 h-100"
                                 th:src="@{/resources/img/{image}(image=${event.image})}"
                                 alt="Card image cap">
                        </div>
                        <div class="col-md-7" style="">
                            <h5 class="card-title" th:text="${event.name}"><b>----title----</b></h5>
                            <p class="card-text" th:text="${event.description}">-----beschreibung-----<br></p>
                            <li class="list-group-item"><i class="fa fa-users"></i>
                                <p class="card-text d-inline ml-2"
                                   th:text="${'Max. ' + event.capacity + ' Teilnehmer'}">
                                    ----capacity----</p>
                            </li>
                            <li class="list-group-item"><i class="fa fa-money"></i>
                                <p class="d-inline ml-2" th:text="${event.price.getNumber() + ',- € Teilnahmegebühr'}">
                                    ----price----
                                </p>
                            </li>
                            <li class="list-group-item"><i class="fa fa-map"></i>
                                <p class="d-inline ml-2"
                                   th:text="${event.place.street + ' ' + event.place.houseNumber + ', ' + event.place.postalCode + ' ' + event.place.city + ' (' + event.place.district + ')'}">
                                    ----place----
                                </p>
                            </li>
                            <div class="d-flex flex-row-reverse">
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                </ul>
            </div>

        </div>
    </div>
</div>

<footer th:replace="footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>