<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>FeWoDre - Ferienhäuser</title>
</head>

<body>

<nav th:replace="navbar :: navbar" style="width: 100%"></nav>

<div class="py-3"
     style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.2));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
    <div class="container" style="">
        <div class="row"
             style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.1));
                background-position: top left;	background-size: 100%;	background-repeat: repeat;
                border-radius: calc(.5rem);">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h1 class="mb-3">Entdecken Sie unser Ferienhausangebot.</h1>
                <p class="lead mb-4">Hier sehen Sie eine Liste aller Ferienhäuser, die aktuell bei uns reservierbar
                    sind.</p>
            </div>
            <div class="col-md-6 p-lg-5 p-3">
                <img class="d-block img-fluid" style="height: auto;" src="../static/resources/img/house_1.png"
                     alt="">
            </div>
        </div>
        
        <div class="row p-2">
            <!--Buttons zum sortieren von den HolidayHomes nach bestimmten Kategorien-->
            <div class="col-md-9">
                <div class="btn-group" sec:authorize="!hasRole('HOST')"> 
                    <form role="form" class="form-inline mr-auto ml-0" th:action="@{/sortcapacity}" method="post">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Personenanzahl
                        </button>
            
                        <div class="dropdown-menu">
                            <input class="dropdown-item" type="submit" name="searchedCapacity" value="Alle"/>
                            <div class="dropdown-divider"></div>
                            <input class="dropdown-item" type="submit" name="searchedCapacity" value="2"/>
                            <input class="dropdown-item" type="submit" name="searchedCapacity" value="4"/>
                            <input class="dropdown-item" type="submit" name="searchedCapacity" value="6"/>
                            <input class="dropdown-item" type="submit" name="searchedCapacity" value="8"/>
                        </div>
                    </form>

                    <form role="form" class="form-inline mr-auto ml-0" th:action="@{/sortprice}" method="post">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Preis p.N.
                        </button>

                        <div class="dropdown-menu">
                            <input class="dropdown-item" type="submit" name="searchedPrice" value="Alle"/>
                            <div class="dropdown-divider"></div>
                            <input class="dropdown-item" type="submit" name="searchedPrice" value="0-50 EUR"/>
                            <input class="dropdown-item" type="submit" name="searchedPrice" value="50-100 EUR"/>
                            <input class="dropdown-item" type="submit" name="searchedPrice" value="100-150 EUR"/>
                            <input class="dropdown-item" type="submit" name="searchedPrice" value="150-200 EUR"/>
                            <input class="dropdown-item" type="submit" name="searchedPrice" value="Über 200 EUR"/>
                        </div>
                    </form>

                    <form role="form" class="form-inline mr-auto ml-0" th:action="@{/sortdistrict}" method="post">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Stadtteil
                        </button>

                        <div class="dropdown-menu">
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Alle"/>
                            <div class="dropdown-divider"></div>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Altfranken"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Altstadt"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Blasewitz"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Cossebaude"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Cotta"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Gompitz"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Klotsche"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Langebrück"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Leuben"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Loschwitz"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Mobschatz"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Neustadt"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Oberwartha"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Pieschen"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Plauen"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Prohlis"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Schönborn"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Schönefeld-Weißig"/>
                            <input class="dropdown-item" type="submit" name="searchedDistrict" value="Weixdorf"/>
                        </div>
                    </form>

                    <form role="form" th:method="post" th:action="@{/deletallsorts}">
                        <input class="btn btn-danger btn-outline-light" type="submit"
                               value="Alle FIlter zurück setzen"/>
                    </form>

                </div>

            <div class="col-md-3">
                <a th:href="@{/addholidayhome}" sec:authorize="hasRole('HOST')"
                   class="btn btn-primary btn-outline-light float-right">
                    Angebot erstellen
                </a>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4 col-6 p-1" th:each="holidayHome : ${holidayhomeCatalog}">
                <!--Cards für Host mit Buttons (bearbeiten, löschen)-->
                <div class="card" sec:authorize="hasRole('HOST')">
                    <img class="card-img-top" th:src="@{/resources/img/{image}(image=${holidayHome.image})}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${holidayHome.name}"><b>----title----</b></h5>
                        <p class="card-text" th:text="${holidayHome.description}">-----beschreibung-----<br></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fa fa-users"></i>
                            <h8 class="card-title" th:text="${' ' + holidayHome.capacity + ' Personen'}"><b>----capacity----</b></h8>
                        </li>
                        <li class="list-group-item"><i class="fa fa-money"></i>
                            <h8 class="card-title" th:text="${holidayHome.price.getNumber() + ',- € pro Nacht'}"><b>----price----</b></h8>
                        </li>
                        <li class="list-group-item"><i class="fa fa-map"></i>
                            <h8 class="card-title" th:text="${holidayHome.place.street + ' ' + holidayHome.place.houseNumber + ', ' + holidayHome.place.postalCode + ' ' + holidayHome.place.city + ' (' + holidayHome.place.district + ')'}">
                            <b>----place----</b>
                            </h8>
                        </li>
                    </ul>
                    <div class="card-footer p-2 w-100">
                        <div class="d-flex flex-row-reverse">
                            <form role="form" th:method="post" th:action="@{/deleteholidayhome}">
                                <input type="hidden" name="holidayHome" th:value="${holidayHome.id}"/>
                                <input class="btn btn-danger btn-outline-light" type="submit"
                                       value="Ferienhaus löschen"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:method="post" th:action="@{/editholidayhome}">
                                <input type="hidden" name="holidayHome" th:value="${holidayHome.id}"/>
                                <input class="btn btn-primary btn-outline-light" type="submit"
                                       value="Ferienhaus bearbeiten"/>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer p-2 w-100">
                        <div class="d-flex flex-row-reverse">
                            <form role="form" th:method="post" th:action="@{/activateEventPage}">
                                <input type="hidden" name="holidayHome" th:value="${holidayHome.id}"/>
                                <input class="btn btn-primary btn-outline-light" type="submit"
                                       value="Events aktivieren"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:method="get" th:action="@{/editHolidayHomeLocation}">
                                <input type="hidden" name="holidayhome" th:value="${holidayHome.id}"/>
                                <input class="btn btn-primary btn-outline-light" type="submit"
                                       value="Ort bearbeiten"/>
                            </form>
                        </div>
                    </div>
                </div>

                <!--Cards für alle, die kein Host sind mi"Details" und "Jetzt buchen" Option -->
                <div class="card" sec:authorize="!hasAnyRole('HOST')">
                    <img class="card-img-top" th:src="@{/resources/img/{image}(image=${holidayHome.image})}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${holidayHome.name}"><b>----title----</b></h5>
                        <p class="card-text" th:text="${holidayHome.description}">-----beschreibung-----<br></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fa fa-users"></i>
                            <h8 class="card-title" th:text="${' ' + holidayHome.capacity + ' Personen'}"><b>----capacity----</b></h8>
                        </li>
                        <li class="list-group-item"><i class="fa fa-money"></i>
                            <h8 class="card-title" th:text="${holidayHome.price.getNumber() + ',- € pro Nacht'}"><b>----price----</b></h8>
                        </li>
                        <li class="list-group-item"><i class="fa fa-map"></i>
                            <h8 class="card-title" th:text="${holidayHome.place.street + ' ' + holidayHome.place.houseNumber + ', ' + holidayHome.place.postalCode + ' ' + holidayHome.place.city + ' (' + holidayHome.place.district + ')'}">
                                <b>----place----</b>
                            </h8>
                        </li>
                    </ul>
                    <div class="card-footer p-2 w-100">
                        <div class="d-flex flex-row-reverse">
                            <form role="form" th:action="@{/defaultcart}" method="post">
                                <input type="hidden" name="hid" value="0" th:value="${holidayHome.id}"/>
                                <button type="submit" class="btn btn-primary">Jetzt buchen</button>
                            </form>

                            <form role="form" class="form-inline mr-auto ml-0" th:method="post" th:action="@{/housedetails}">
                                <input type="hidden" name="holidayHome" th:value="${holidayHome.id}"/>
                                <input class="btn btn-secondary btn-outline-light mr-auto" type="submit"
                                       value="Details"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 p-1"></div>
    </div>
</div>

<footer th:replace="footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>