<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>FeWoDre - Ferienhäuser</title>
</head>

<body>

<nav th:replace="navbar :: navbar" style="width: 100%"></nav>

<div class="py-3"
     style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.2));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
    <div class="container">
        <div class="row"
             style="background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.05));
                background-position: top left;	background-size: 100%;	background-repeat: repeat;
                border-radius: calc(.5rem);"
             sec:authorize="!hasAnyRole('HOST')">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h1 class="mb-3 mt-1 ml-4">Entdecken Sie unser Ferienhausangebot.</h1>
                <p class="lead mb-4 ml-4">Hier sehen Sie eine Liste aller Ferienhäuser, die aktuell bei uns reservierbar
                    sind.</p>
            </div>
            <div class="col-md-6 p-lg-5 p-3">
            </div>
        </div>

        <div class="row"
             style="background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.05));
                background-position: top left;	background-size: 100%;	background-repeat: repeat;
                border-radius: calc(.5rem);"
             sec:authorize="hasAnyRole('HOST')">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h1 class="mb-3 mt-1 ml-4">Angebotsverwaltung</h1>
            </div>
        </div>

        <div class="row p-2">
            <!--Buttons zum sortieren von den HolidayHomes nach bestimmten Kategorien-->
            <div class="col-md-9">
                <div class="btn-group">
                    <div sec:authorize="!hasRole('HOST')">
                        <button type="button" class="btn btn-info dropdown-toggle mr-1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Personenanzahl
                        </button>

                        <div class="dropdown-menu">
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedCapacity" value="Alle"/>
                                <input class="dropdown-item" type="submit" value="Alle"/>
                            </form>
                            <div class="dropdown-divider"></div>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedCapacity" value="2"/>
                                <input class="dropdown-item" type="submit" value="mind. 2"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedCapacity" value="4"/>
                                <input class="dropdown-item" type="submit" value="mind. 4"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedCapacity" value="6"/>
                                <input class="dropdown-item" type="submit" value="mind. 6"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedCapacity" value="8"/>
                                <input class="dropdown-item" type="submit" value="mind. 8"/>
                            </form>
                        </div>
                    </div>
                    <div sec:authorize="!hasRole('HOST')">
                        <button type="button" class="btn btn-info dropdown-toggle mr-1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Preis p.N.
                        </button>

                        <div class="dropdown-menu">
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedPrice1" value="Alle"/>
                                <input type="hidden" name="searchedPrice2" value="Alle"/>
                                <input class="dropdown-item" type="submit" value="Alle"/>
                            </form>
                            <div class="dropdown-divider"></div>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedPrice1" value="0"/>
                                <input type="hidden" name="searchedPrice2" value="50"/>
                                <input class="dropdown-item" type="submit" value="0-50 EUR"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedPrice1" value="50"/>
                                <input type="hidden" name="searchedPrice2" value="100"/>
                                <input class="dropdown-item" type="submit" value="50-100 EUR"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedPrice1" value="100"/>
                                <input type="hidden" name="searchedPrice2" value="150"/>
                                <input class="dropdown-item" type="submit" value="100-150 EUR"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedPrice1" value="150"/>
                                <input type="hidden" name="searchedPrice2" value="200"/>
                                <input class="dropdown-item" type="submit" value="150-200 EUR"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedPrice1" value="200"/>
                                <input type="hidden" name="searchedPrice2" value="0"/>
                                <input class="dropdown-item" type="submit" value="Über 200 EUR"/>
                            </form>
                        </div>
                    </div>
                    <div sec:authorize="!hasRole('HOST')">
                        <button type="button" class="btn btn-info dropdown-toggle mr-1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Stadtteil
                        </button>

                        <div class="dropdown-menu">
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Alle"/>
                                <input class="dropdown-item" type="submit" value="Alle"/>
                            </form>
                            <div class="dropdown-divider"></div>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Altfranken"/>
                                <input class="dropdown-item" type="submit" value="Altfranken"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Altstadt"/>
                                <input class="dropdown-item" type="submit" value="Altstadt"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Blasewitz"/>
                                <input class="dropdown-item" type="submit" value="Blasewitz"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Cossebaude"/>
                                <input class="dropdown-item" type="submit" value="Cossebaude"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Cotta"/>
                                <input class="dropdown-item" type="submit" value="Cotta"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Gompitz"/>
                                <input class="dropdown-item" type="submit" value="Gompitz"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Klotsche"/>
                                <input class="dropdown-item" type="submit" value="Klotsche"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Langebrück"/>
                                <input class="dropdown-item" type="submit" value="Langebrück"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Leuben"/>
                                <input class="dropdown-item" type="submit" value="Leuben"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Loschwitz"/>
                                <input class="dropdown-item" type="submit" value="Loschwitz"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Mobschatz"/>
                                <input class="dropdown-item" type="submit" value="Mobschatz"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Neustadt"/>
                                <input class="dropdown-item" type="submit" value="Neustadt"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Oberwartha"/>
                                <input class="dropdown-item" type="submit" value="Oberwartha"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Pieschen"/>
                                <input class="dropdown-item" type="submit" value="Pieschen"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Plauen"/>
                                <input class="dropdown-item" type="submit" value="Plauen"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Prohlis"/>
                                <input class="dropdown-item" type="submit" value="Prohlis"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Schönborn"/>
                                <input class="dropdown-item" type="submit" value="Schönborn"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Schönefeld"/>
                                <input class="dropdown-item" type="submit" value="Schönefeld-Weißig"/>
                            </form>
                            <form role="form" class="form-inline mr-auto ml-0" th:action="@{/holidayhomes}"
                                  method="post">
                                <input type="hidden" name="searchedDistrict" value="Weixdorf"/>
                                <input class="dropdown-item" type="submit" value="Weixdorf"/>
                            </form>
                        </div>
                    </div>
                    <div sec:authorize="!hasRole('HOST')">
                        <form role="form" class="form-inline mr-auto" method="post" th:action="@{/holidayhomes}">
                            <input class="btn btn-danger btn-outline-light" type="submit"
                                   value="Alle Filter zurück setzen"/>
                        </form>
                    </div>


                    <a th:href="@{/addholidayhome}" sec:authorize="hasRole('HOST')"
                       class="btn btn-primary btn-outline-light float-right ml-1">
                        Angebot erstellen
                    </a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4 col-6 p-1" th:each="holidayHome : ${holidayhomeCatalog}">
                <!--Cards für Host mit Buttons (bearbeiten, löschen)-->
                <div class="card" sec:authorize="hasRole('HOST')">
                    <img class="card-img-top" th:src="@{/resources/img/{image}(image=${holidayHome.image})}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${holidayHome.name}"><b>----title----</b></h5>
                        <p class="card-text" th:text="${holidayHome.description}">-----beschreibung-----<br></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fa fa-users"></i>
                            <h8 class="card-title" th:text="${' ' + holidayHome.capacity + ' Personen'}"><b>----capacity----</b>
                            </h8>
                        </li>
                        <li class="list-group-item"><i class="fa fa-money"></i>
                            <h8 class="card-title" th:text="${holidayHome.price.getNumber() + ' € pro Nacht'}"><b>----price----</b>
                            </h8>
                        </li>
                        <li class="list-group-item"><i class="fa fa-map"></i>
                            <h8 class="card-title"
                                th:text="${holidayHome.place.street + ' ' + holidayHome.place.houseNumber + ', ' + holidayHome.place.postalCode + ' ' + holidayHome.place.city + ' (' + holidayHome.place.district + ')'}">
                                <b>----place----</b>
                            </h8>
                        </li>
                    </ul>
                    <div class="card-footer p-2 w-100">
                        <div class="d-flex flex-row-reverse">
                            <button type="button" class="btn btn-danger mr-0" data-toggle="modal"
                                    data-target="#deleteHolidayHomeModal"
                                    th:data-holidayhomename="${holidayHome.name}"
                                    th:data-holidayhomeid="${holidayHome.id}">
                                Angebot löschen
                            </button>
                            <form role="form" class="form-inline mr-auto ml-0" th:method="post"
                                  th:action="@{/editholidayhome}">
                                <input type="hidden" name="holidayHome" th:value="${holidayHome.id}"/>
                                <input class="btn btn-primary btn-outline-light" type="submit"
                                       value="Angebot bearbeiten"/>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer p-2 w-100">
                        <div class="d-flex flex-row-reverse">
                            <form role="form" th:method="get" th:action="@{/activateEventPage}">
                                <input type="hidden" name="holidayHome" th:value="${holidayHome.id}"/>
                                <input class="btn btn-primary btn-outline-light" type="submit"
                                       value="Events aktivieren"/>
                            </form>
                        </div>
                    </div>
                </div>
                <!--Cards für alle, die kein Host sind mi"Details" und "Jetzt buchen" Option -->
                <div class="card" sec:authorize="!hasAnyRole('HOST')">
                    <img class="card-img-top" th:src="@{/resources/img/{image}(image=${holidayHome.image})}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${holidayHome.name}"><b>----title----</b></h5>
                        <p class="card-text" th:text="${holidayHome.description}">-----beschreibung-----<br></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fa fa-users"></i>
                            <h8 class="card-title" th:text="${' ' + holidayHome.capacity + ' Personen'}"><b>----capacity----</b>
                            </h8>
                        </li>
                        <li class="list-group-item"><i class="fa fa-money"></i>
                            <h8 class="card-title" th:text="${holidayHome.price.getNumber() + ' € pro Nacht'}"><b>----price----</b>
                            </h8>
                        </li>
                        <li class="list-group-item"><i class="fa fa-map"></i>
                            <h8 class="card-title"
                                th:text="${holidayHome.place.street + ' ' + holidayHome.place.houseNumber + ', ' + holidayHome.place.postalCode + ' ' + holidayHome.place.city + ' (' + holidayHome.place.district + ')'}">
                                <b>----place----</b>
                            </h8>
                        </li>
                    </ul>
                    <div class="card-footer p-2 w-100">
                        <div class="d-flex flex-row-reverse">
                            <form role="form" th:action="@{/defaultcart}" method="post"
                                  sec:authorize="!hasAnyRole('ADMIN','EVENT_EMPLOYEE')">
                                <input type="hidden" name="hid" value="0" th:value="${holidayHome.id}"/>
                                <button type="submit" class="btn btn-primary">Jetzt buchen</button>
                            </form>

                            <form role="form" class="form-inline mr-auto ml-0" th:method="post"
                                  th:action="@{/housedetails}">
                                <input type="hidden" name="holidayHome" th:value="${holidayHome.id}"/>
                                <input class="btn btn-secondary btn-outline-light mr-auto" type="submit"
                                       value="Details"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 p-1"></div>
    </div>
</div>
<div class="modal fade" id="deleteHolidayHomeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Angebot löschen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Account Name
            </div>
            <div class="modal-footer">
                <form th:action="@{/deleteholidayhome}" method="post">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <input type="hidden" id="hiddenHolidayHomeId" name="holidayHome" value="">
                    <input type="submit" class="btn btn-danger" value="Löschen bestätigen">
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#deleteHolidayHomeModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var holidayhomename = button.data('holidayhomename')
        var holidayhomeid = button.data('holidayhomeid')
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        $('#deleteHolidayHomeModal').find('.modal-body').text('Möchten Sie wirklich das Angebot \"' + holidayhomename + '\" wirklich löschen?')
        $('#hiddenHolidayHomeId').val(holidayhomeid)
    })
</script>
<footer th:replace="footer :: footer"></footer>
</body>
</html>