<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>FeWoDre - Login</title>
</head>

<body>

<nav th:replace="navbar :: navbar" style="width: 100%"></nav>

<div style="background-image: url('/resources/img/landingpage_bg.png');	background-position: left center;	background-size: cover;	background-repeat: repeat;">
    <div class="container">
        <div class="row">
            <div class="p-5 col-lg-6 mt-5 mb-5"
                 style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1)); background-position: top left; background-size: 100%; background-repeat: repeat; box-shadow: 5px 5px 5px  rgba(0,0,0,0.2);">
                <h1 th:if="${param.keySet().contains('error')}" th:text="${'Da hat etwas nicht funktioniert'}">Da hat
                    etwas nicht funktioniert...</h1>
                <h1 th:unless="${param.keySet().contains('error')}" th:text="${'Gleich gehts weiter...'}">Gleich geht's
                    weiter...</h1>
                <p class="mb-3" th:if="${param.keySet().contains('error')}"
                   th:text="${'Bitte kontrolieren Sie Ihren Beutzernamen und das Passwort. Bitte beachten Sie auch, dass sie ich erst anmelden können, nachdem Sie von uns freigeschalten wurden.'}">
                    Loggen Sie sich mit Ihren Benutzerdaten ein, um Ihren nächsten Aufenthalt in Dresden und Umgebung zu
                    buchen.</p>
                <p class="mb-3" th:unless="${param.keySet().contains('error')}"
                   th:text="${'Loggen Sie sich mit Ihren Benutzerdaten ein, um Ihren nächsten Aufenthalt in Dresden und Umgebung zu buchen.'}">
                    Loggen Sie sich mit Ihren Benutzerdaten ein, um Ihren nächsten Aufenthalt in Dresden und Umgebung zu
                    buchen.</p>
                <form role="form" th:action="@{/login}" method="post">
                    <div class="form-group">
                        <input type="text" id="username" name="username" class="form-control"
                               placeholder="E-Mail Adresse eingeben" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" class="form-control"
                               placeholder="Passwort eingeben" required="required">
                        <small class="form-text text-muted text-right">
                            <a th:href="@{/resetpassword}" href="resetpassword">Passwort vergessen?</a>
                        </small>
                        <small class="form-text text-muted text-right">
                            <a href="register" th:href="@{/register}">Noch kein Benutzerkonto?</a>
                        </small>
                    </div>
                    <button type="submit" class="btn btn-primary">Einloggen<br></button>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>