<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prototype GUI Ferienhausvermietung 2020</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <base target="_parent">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body scroll="no" style="overflow: hidden">
<script>
    $(function() {
var zoom_container_size = $( '.zoom_container').height();
var zoom_area_size = 100;
var zoom_radius = zoom_area_size / 2;

$( '.thumbnail' ).mousemove(function(e) {
// Show original picture
var $original = $( '#' + this.id + '_original');
var $container = $original.parent();
$container.removeClass( 'hidden' );
// Thumbnail
var offset = $( this ).offset();
var tX = e.pageX - offset.left;
var tY = e.pageY - offset.top;
// We stay inside the limits of the zoomable area
//tX = Math.max(zoom_radius, Math.min( $( this ).width() - zoom_radius, tX ) );
//tY = Math.max( zoom_radius, Math.min( $( this ).height() - zoom_radius, tY ) );
// Ratios
var ratioX = ( $original.width() - zoom_container_size) / ( $( this ).width() - zoom_area_size );
var ratioY = ( $original.height() - zoom_container_size) / ( $( this ).height() - zoom_area_size );
// Margin to be set in the original
var moX = -Math.floor( ( tX - zoom_radius ) * ratioX );
var moY = -Math.floor( ( tY - zoom_radius ) * ratioY );
// Apply zoom efect
    $( '.zoom_container').css("left", e.pageX-90)
    $( '.zoom_container').css("top", e.pageY-90)
$original.css( 'marginLeft', moX*0.928-80);
$original.css( 'marginTop', moY*0.893-80);
// Log values
$('#ratios').html( 'Ratio X: <b>' + ratioX + '</b><br>Ratio Y: <b>' +  ratioY + '</b>' );
$('#coordinates_thumbnail').html( 'tX: <b>' + tX + '</b><br>tY: <b>' +  tY + '</b>' );
$('#coordinates_original' ).html( 'Margin left: <b>' + Math.round(moX) + '</b><br>Margin top: <b>' +  moY + '</b>' );
});

$( '.thumbnail' ).mouseout(function(e) {
var $original = $( '#' + this.id + '_original');
var $container = $original.parent();
$container.addClass( 'hidden' );
});
    })
</script>

<style>
    .main_container div {
        display: inline-block;
    }

    .thumbnail {
        cursor: crosshair;
        height: 60vh;
    }

    .original {
        height: 200vh;
    }

    div.zoom_container {
        position: fixed;
        box-shadow: 0 0 0 8000px #0005;
        border: 2px solid #444;
        border-radius: 50%;
        z-index: 100;
        pointer-events: none;
        width: 180px;
        height: 180px;
        overflow: hidden;
        display: none;
    }

    .zoom_container.hidden {
        cursor: crosshair;
    }

    .crosshair {
        position: absolute;
        left: 50px;
        top: 50px;
        width: 4px;
        height: 4px;
        margin-left: -2px;
        margin-top: -2px;
        z-index: 101;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background: red;
    }

    .thumbnail:hover + .zoom_container {
        display: block;
    }
</style>
<div class="container p-0 w-100" style="height:56px">
    <div class="row">
        <div class="w-100">
            <nav th:include="navbar" style="width: 100%"></nav>
        </div>
    </div>
</div>
<div style="background-image: url('/resources/img/landingpage_bg.png');	background-position: left center;	background-size: cover;	background-repeat: repeat;">
    <div class="container">
        <div class="row">
            <div class="p-5 col-lg-15"
                 style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1)); background-position: top left; background-size: 100%; background-repeat: repeat; box-shadow: 5px 5px 5px  rgba(0,0,0,0.2);">
                <h1 class="mb-3" th:text="${'Bitte klicken Sie auf den passenden Ort in der Karte.'}">
                    Klicken Sie auf den Ort</h1>
                <div class="main_container" onclick="myFunction(event)">
                    <form role="form" id="map" th:action="@{/map}" th:object="${coordinates}" method="post">
                        <div class="form-inline">
                            <input type="hidden" id="productIdentifier" name="productIdentifier" th:value="${productIdentifier}">
                            <input type="hidden" id="size" name="size" class="form-control">
                        </div>
                        <script th:value="*{size}">
                            function myFunction(event) {
                                var boundingRect = document.getElementById('forest').getBoundingClientRect();
                                var mouseX = event.clientX - boundingRect.x;
                                var mouseY = event.clientY - boundingRect.y;
                                var width = boundingRect.width;
                                var height = boundingRect.height;
                                var relativeMouseX = mouseX / width;
                                var relativeMouseY = mouseY / height;
/*                                var x = event.clientX;
                                var y = event.clientY;
                                var rechts = event.target.getBoundingClientRect();
                                var height = window.screen.height;
                                var width = window.screen.width;
                                var coords = x + "-" + width + "-" + y + "-" + height;*/
                                var coords = mouseX + "-" + width + "-" + mouseY + "-" + height;
                                //var coords = "mouseX:" + mouseX + "; mouseY:" + mouseY + "; width:" + width + "; height:" + height;
                                var relativeCoords = "X:" + relativeMouseX + "; Y:" + relativeMouseY;
                                console.log(coords);
                                console.log(relativeCoords);
                                document.getElementById("size").value = coords;
                                document.getElementById('map').submit();
                            }
                        </script>
                    </form>
                    <div id="zoom_area"></div>
                    <img id="forest" class="thumbnail" src="/resources/img/karte.jpg">
                    <div class="zoom_container hidden">
                        <img id="forest_original" class="original" src="/resources/img/karte.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-0 w-100 bg-white">
    <div class="row">
        <div class="w-100">
            <nav th:include="footer :: footer"></nav>
        </div>
    </div>
</div>
</body>

</html>