<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prototype GUI Ferienhausvermietung 2020</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <base target="_parent">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-light" th:fragment="navbar">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                data-target="#navbar6">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar6">
            <a class="navbar-brand text-primary d-none d-md-block" href="index.html" th:href="@{/}">
                <b> FeWoMi 2020<br></b>
            </a>
            <ul class="navbar-nav mx-auto" sec:authorize="hasRole('TENANT')">
                <li class="nav-item">
                    <a class="nav-link" href="itemlist.html" th:href="@{/holidayhomes}">Ferienhäuser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Buchungen<br></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Konto<br></a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto" sec:authorize="hasRole('HOST')">
                <li class="nav-item">
                    <a class="nav-link" href="itemlist.html">Angebotsverwaltung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Buchungsübersicht<br></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Konto<br></a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto" sec:authorize="hasRole('ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" href="itemlist.html">Accountverwaltung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="newhost">Neuer Host<br></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="neweventemployee">Neuer Veranstalltungsmitarbeiter<br></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Konto<br></a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto" sec:authorize="hasRole('EVENT_EMPLOYEE')">
                <li class="nav-item">
                    <a class="nav-link" href="itemlist.html">Eventverwaltung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Firmenübersicht<br></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Konto<br></a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto" sec:authorize="!hasAnyRole('ADMIN','TENANT','HOST','EVENT_EMPLOYEE')">
                <li class="nav-item">
                    <a class="nav-link" href="itemlist.html">Startseite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="itemlist.html" th:href="@{/holidayhomes}">Ferienhäuser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Events<br></a>
                </li>
            </ul>
            <ul class="navbar-nav" sec:authorize="!hasAnyRole('ADMIN','TENANT','HOST','EVENT_EMPLOYEE')">
                <li class="nav-item">
                    <a class="nav-link" href="login.html" th:href="@{/login}">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="register.html" th:href="@{/register}">Registrieren</a>
                </li>
            </ul>
            <ul class="navbar-nav" sec:authorize="hasAnyRole('ADMIN','TENANT','HOST','EVENT_EMPLOYEE')">
                <li class="nav-item">
                    <a class="nav-link text-black-50" href="" th:text="${#authentication.getName()}"
                       style="pointer-events: none; cursor: default;">Nutzer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" th:href="@{/logout}">Ausloggen</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>