<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
<div class="py-3"
     style="	background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.2));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
    <div class="container" style="">
        <div class="row"
             style="	background-image: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.1));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h1 class="mb-3">Entdecken Sie unser Ferienhausangebot.</h1>
                <p class="lead mb-4">Hier sehen Sie eine Liste aller Ferienhäuser, die aktuell bei uns reservierbar
                    sind.</p>
            </div>
            <div class="col-md-6 p-lg-5 p-3">
                <img class="d-block img-fluid" style="height: auto;" src="../static/resources/img/house_1.png"
                     alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-6 p-1">
                <div class="card">
                    <img class="card-img-top" src="../static/resources/img/house_1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><b>Entspannte Bude in Dresdner Hood</b></h5>
                        <p class="card-text">Direkt an der Elbe. Gemütlich eingerichtet. Küche, Bad, WLAN inklusive.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fa fa-users"></i>&nbsp; bis zu 4 Personen</li>
                        <li class="list-group-item"><i class="fa fa-money"></i>&nbsp; 79€,- / Tag</li>
                        <li class="list-group-item"><i class="fa fa-info"></i>&nbsp; test</li>
                    </ul>
                    <div class="card-footer p-2 w-100">
                        <div class="d-flex flex-row-reverse">
                            <a href="#" class="btn btn-primary btn-outline-light">Jetzt buchen</a>
                            <a href="#" class="btn btn-secondary btn-outline-light mr-auto">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6 p-1">
                <div class="card">
                    <img class="card-img-top" src="../static/resources/img/house_1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><b>Entspannte Bude in Dresdner Hood</b></h5>
                        <p class="card-text">Direkt an der Elbe. Gemütlich eingerichtet. Küche, Bad, WLAN inklusive.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fa fa-users"></i>&nbsp; bis zu 4 Personen</li>
                        <li class="list-group-item"><i class="fa fa-money"></i>&nbsp; 79€,- / Tag</li>
                        <li class="list-group-item"><i class="fa fa-info"></i>&nbsp; test</li>
                    </ul>
                    <div class="card-footer p-2 w-100">
                        <div class="d-flex flex-row-reverse">
                            <a href="#" class="btn btn-primary btn-outline-light">Jetzt buchen</a>
                            <a href="#" class="btn btn-secondary btn-outline-light mr-auto">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6 p-1">
                <div class="card">
                    <img class="card-img-top" src="../static/resources/img/house_1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><b>Entspannte Bude in Dresdner Hood</b></h5>
                        <p class="card-text">Direkt an der Elbe. Gemütlich eingerichtet. Küche, Bad, WLAN inklusive.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fa fa-users"></i>&nbsp; bis zu 4 Personen</li>
                        <li class="list-group-item"><i class="fa fa-money"></i>&nbsp; 79€,- / Tag</li>
                        <li class="list-group-item"><i class="fa fa-info"></i>&nbsp; test</li>
                    </ul>
                    <div class="card-footer p-2 w-100">
                        <div class="d-flex flex-row-reverse">
                            <a href="#" class="btn btn-primary btn-outline-light">Jetzt buchen</a>
                            <a href="#" class="btn btn-secondary btn-outline-light mr-auto">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="row">
        <div class="col-md-4 col-6 p-1">
          <div class="card">
            <img class="card-img-top" src="../static/resources/img/house_1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><b>Entspannte Bude in Dresdner Hood</b></h5>
              <p class="card-text">Direkt an der Elbe. Gemütlich eingerichtet. Küche, Bad, WLAN inklusive.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa fa-users"></i>&nbsp; bis zu 4 Personen</li>
              <li class="list-group-item"><i class="fa fa-money"></i>&nbsp; 79€,- / Tag</li>
              <li class="list-group-item"><i class="fa fa-info"></i>&nbsp; test</li>
            </ul>
            <div class="card-footer p-2 w-100">
              <div class="d-flex flex-row-reverse">
                <a href="#" class="btn btn-primary btn-outline-light">Jetzt buchen</a>
                <a href="#" class="btn btn-secondary btn-outline-light mr-auto">Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 p-1">
          <div class="card">
            <img class="card-img-top" src="../static/resources/img/house_1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><b>Entspannte Bude in Dresdner Hood</b></h5>
              <p class="card-text">Direkt an der Elbe. Gemütlich eingerichtet. Küche, Bad, WLAN inklusive.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa fa-users"></i>&nbsp; bis zu 4 Personen</li>
              <li class="list-group-item"><i class="fa fa-money"></i>&nbsp; 79€,- / Tag</li>
              <li class="list-group-item"><i class="fa fa-info"></i>&nbsp; test</li>
            </ul>
            <div class="card-footer p-2 w-100">
              <div class="d-flex flex-row-reverse">
                <a href="#" class="btn btn-primary btn-outline-light">Jetzt buchen</a>
                <a href="#" class="btn btn-secondary btn-outline-light mr-auto">Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 p-1">
          <div class="card">
            <img class="card-img-top" src="../static/resources/img/house_1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><b>Entspannte Bude in Dresdner Hood</b></h5>
              <p class="card-text">Direkt an der Elbe. Gemütlich eingerichtet. Küche, Bad, WLAN inklusive.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa fa-users"></i>&nbsp; bis zu 4 Personen</li>
              <li class="list-group-item"><i class="fa fa-money"></i>&nbsp; 79€,- / Tag</li>
              <li class="list-group-item"><i class="fa fa-info"></i>&nbsp; test</li>
            </ul>
            <div class="card-footer p-2 w-100">
              <div class="d-flex flex-row-reverse">
                <a href="#" class="btn btn-primary btn-outline-light">Jetzt buchen</a>
                <a href="#" class="btn btn-secondary btn-outline-light mr-auto">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>